<section class="form-position border p-4 d-flex justify-content-center mb-4">
<form id="form" class="text-center">
  <h2>Contact us</h2>

  <!-- Name input -->
  <div class="mb-4">
    <input mdbInput type="text" id="name" class="form-control" />
    <label mdbLabel class="form-label" for="name">Name</label>
  </div>
  <!-- Email input -->
  <div class="mb-4">
    <input mdbInput type="email" id="email" class="form-control" />
    <label mdbLabel class="form-label" for="email">Email address</label>
  </div>
  <!-- Subject input -->
  <div class="mb-4">
    <input mdbInput type="text" id="subject" class="form-control" />
    <label mdbLabel class="form-label" for="subject">Subject</label>
  </div>
  <!-- Message input -->
  <div class="mb-4">
    <textarea mdbInput class="form-control" id="message" rows="4"></textarea>
    <label mdbLabel class="form-label" for="message">Message</label>
  </div>
  <!-- Mail copy -->

  <!-- Submit button -->
  <button type="button" class="btn btn-primary my-4">Send</button>

</form>
</section>
