#calculate{
  margin-top: 20px;
  text-align: right;
}
#price-head{
  color: #736a2e;
}
.price-display{
  font-size: small;
  font-style: italic;
  padding-top: 15px;
}

#empty-cart{
  padding-top: 20px;
  text-align: center;
}
