<!--<div class="row">-->
<!--  <div class="col-xs-12">-->
<!--    <purchase-->
<!--      -->
<!--      *ngFor="let purchaseEl of purchases"-->
<!--    ></purchase>-->
<!--  </div>-->
<!--</div>-->

<div class="row">
  <div class="col-md-7" *ngIf="display; else infoText">
    <detail-cart
      *ngFor="let purchase of purchaseCARTStatus" [cartDetail]="purchase"
      (countChanged)="countChangedHandler($event)"
    ></detail-cart>
  </div>

  <ng-template #infoText>
    <p *ngIf="purchased">Your purchase has been submitted.</p>
    <p *ngIf="purchased">Thank you for your purchase</p>

    <p *ngIf="!purchased" id="empty-cart">The cart is empty !</p>

  </ng-template>

  <div class="col-md-1"></div>

  <div *ngIf="display" id="calculate" class="col-md-3">
    <h5 id="price-head">Total of purchases</h5>
    <div class="price-display">
      <p>SubTotal: ${{subTotalPrice |  number: '1.2-2'}}</p>
      <p>Tax: ${{totalTax |  number: '1.2-2'}}</p>
      <p>Total: ${{totalPrice |  number: '1.2-2'}}</p>
    </div>
    <button  (click)=buy() id="submit-button" type="submit" class="btn btn-success">Buy</button>
    <button  (click)=cancel() id="submit-button" type="submit" class="btn btn-danger">Cancel</button>

  </div>
  <div class="col-md-1"></div>

</div>

