<!--<div class='modal-containerbp'>-->
<!--  <div class='modalbp'>-->
<!--    <div class="row">-->

<!--      <div class="col-sm-10">-->
<div class="container">
  <div class="form">
    <form (ngSubmit) = "onSubmit(addData)" #addData="ngForm">
      <div *ngIf="id==1" class="title">Add A New Category Product</div>
      <div *ngIf="id!=1" class="title">Add A New Sub Category Product</div>
      <div >
        <div class="input-container ic1">
          <div class="input-container ic1">
            <input
              *ngIf="id==1"
              id="productCategory"
              class="input"
              type="text" name="productCategory"
              [(ngModel)]="addCategoryProduct.productCategoryName"
              [ngModelOptions]="{standalone: true}"
              placeholder="Enter Product Category Name"
            >
          </div>
        </div>

        <div *ngIf="id!=1" class="input-container ic1">
          <label for="category-select">Choose a category:</label>
          <br>
          <select
            name="category"
            id="category-select"
            require
            [(ngModel)]="addSubCategoryProduct.productCategory.id"
            [ngModelOptions]="{standalone: true}"
          >
            <option *ngFor="let pc of productCategories" value={{pc.id}}>{{pc.productCategoryName}}</option>
          </select>
          <br>
        </div>

        <div class="input-container ic2">
          <div class="input-container ic1">
            <input
              *ngIf="id!=1"
              id="subProductCategory"
              class="input"
              type="text" name="subProductCategory"
              [(ngModel)]="addSubCategoryProduct.subProductCategoryName"
              [ngModelOptions]="{standalone: true}"
              placeholder="Enter Sub Product Category Name"
            >
          </div>
        </div>

        <div class = "buttonGroup">
          <div class="col-xs-12  btn">
            <button
              class="btn btn-success"
              type="submit"
              [disabled]="!addData.valid"
            >Save</button>

            <button
              class="btn btn-danger"
              type="button"
              (click)="onCancel()"
            >Cancel</button>
          </div>
        </div>
      </div>
      <div class = "buttonGroup">
        <p style="color:red">Category product already exist</p>
      </div>

    </form>
  </div>
</div>




